<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Music App</title>
	<link rel="stylesheet" type="text/css" href="/css/materialize.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<header>
		<div class="navbar-fixed blue-grey darken-3">
		    <nav>
		      <div class="nav-wrapper blue-grey darken-3">
		        <a href="/" class="brand-logo">
  					<i class="material-icons right">music_note</i>
            	</a>
		        <ul class="right">
		          {{#if user}}
		          	<li><a href="/">Dashboard</a></li>
		          	<li><a href="/users/logout">Logout</a></li>	
		          {{else}}
		          	<li><a href="/users/login">Login</a></li>
		          	<li><a href="/users/register">Register</a></li>
		          {{/if}}
		        </ul>
		      </div>
		    </nav>
		  </div>		  
	</header>

	<main>
		<div class="container">
			<div class="row">
				<div class="col s12 push-s2">
					{{#if success_msg}}
						<div class="card-panel green accent-3 center-align col s8 white-text">{{success_msg}}</div>
					{{/if}}
					
					{{#if error_msg}}
						<div class="card-panel red lighten-2 center-align col s8 white-text">{{error_msg}}</div>
					{{/if}}

					{{#if error}}
						<div class="card-panel red lighten-2 center-align col s8 white-text">{{error}}</div>
					{{/if}}
				</div>
				<div class="col s12">
					{{{body}}}		
				</div>
			</div>
		</div>
	</main>

	 <footer class="page-foote blue-grey darken-3">
	 	   <br>
          <div class="container white-text">
            © 2018 Music App, Inc.
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
           </div>
           <br>
      </footer>
      <script type="text/javascript" src="/js/materialize.js"></script>
</body>
</html> 
