<h3 class="center">Dashboard</h3>
{{#if user.tokens}}
	<div class="row">
		<div class="col s6">
			<table>
		        <thead>
		          <tr>
		              <th class="center">Recent Played Tracks</th>
		          </tr>
		        </thead>

		        <tbody>
		        {{#each user.recent_layed_tracks}}
		        	<tr>
						<td>{{msg}}</td>
					</tr>
					{{/each}}
		        </tbody>
	        </table>
		</div>
		<div class="col s6">
			<table>
		        <thead>
		          <tr>
		              <th class="center">Top Albums</th>
		          </tr>
		        </thead>

		        <tbody>
		        {{#each user.top_albums}}
		        	<tr>
						<td>{{msg}}</td>
					</tr>
					{{/each}}
		        </tbody>
	        </table>
		</div>
		<div class="col s6">
			<table>
		        <thead>
		          <tr>
		              <th class="center">Top Tracks</th>
		          </tr>
		        </thead>

		        <tbody>
		        {{#each user.top_tracks}}
		        	<tr>
						<td>{{msg}}</td>
					</tr>
					{{/each}}
		        </tbody>
	        </table>
		</div>
		<div class="col s6">
			<table>
		        <thead>
		          <tr>
		              <th class="center">Top Artists</th>
		          </tr>
		        </thead>

		        <tbody>
		        {{#each user.top_artists}}
		        	<tr>
						<td>{{msg}}</td>
					</tr>
					{{/each}}
		        </tbody>
	        </table>
		</div>
	</div>
{{else}}
	<p class="center"><a href="/users/auth/lastfm">Link your Last.fm account<a><p>
{{/if}}