<h2 class="center-align">Account Login</h2>

  <div class="row">
    <form method="post" action="/users/login" class="col s6 push-s3">
      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" name="username" class="validate">
          <label for="username">Username</label>
        </div>
      
        <div class="input-field col s12">
          <input id="password" type="password" name="password" class="validate">
          <label for="password">Password</label>
        </div>
      
        <div class="col s6">
          <button class="btn waves-effect waves-light blue darken-2" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>

      </div>
            
    </form>
  </div>
