<h2 class="center-align">Account Register</h2>

</script>
   <div class="row">
   		{{#if errors}}
   			{{#each errors}}
   				<div class="card-panel red lighten-2 center-align col s8 push-s2 white-text">{{msg}}</div>
   			{{/each}}
   		{{/if}}
	    
   		
	    <form method="post" action="/users/register" class="col s8 push-s2">
	      <div class="row">
	        <div class="input-field col s12 m6 l6">
	          <input id="first_name" type="text" class="validate" name="first_name">
	          <label for="first_name">First Name</label>
	        </div>

	        <div class="input-field col s12 m6 l6">
	          <input id="last_name" type="text" class="validate" name="last_name">
	          <label for="last_name">Last Name</label>
	        </div>
	      	
	      	<div class="input-field col s12 m6 l6">
	          <input id="username" type="text" class="validate" name="username">
	          <label for="username">Username</label>
	        </div>

	        <div class="input-field col s12 m6 l6">
	          <input id="email" type="email" class="validate" name="email">
	          <label for="email">Email</label>
	        </div>
	      
	        <div class="input-field col s12 m6 l6">
	          <input id="password" type="password" class="validate" name="password">
	          <label for="password">Password</label>
	        </div>

	        <div class="input-field col s12 m6 l6">
	          <input id="password2" type="password" class="validate" name="password2">
	          <label for="password2">Confirm Password</label>
	        </div>
	      </div>
	      
	      <button class="btn waves-effect waves-light blue darken-2" type="submit" name="action">Submit
	        <i class="material-icons right">send</i>
	      </button>
	            
	    </form>
	    
	    
	  </div>
