body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
	flex: 1 0 auto;
}

.lastfm-login-button{
	background: url(../media/php6wXrUrAM.jpg) no-repeat;
	max-width: 118px !important;
	height: 36px;
}